body{
    
    background: url(admbg.jpg) ;
    background-size: 1290px 740px;
    color:rgb(167, 135, 95);
}
.adminbar{
    position: fixed;
    width: 580px;
    top: 50px;
    height: 500px;

    border-style: solid;
    border:1px 1px burlywood;

}
#log_in{
    position: fixed;
    top: 420px; 
}
.nav-link{
    color: gray;
}
.nav-link:hover{
    color:black;
    }
