body{

    background: url(homebg.jpg) ;
    background-size: 1920px 540px;
}
#title{    
    font-size: 60px;}
.adm{
    background-image: url('images/abstract_art_black_and_white_red_wallpaper_1080p_hd.jpg');
    border-radius: 40px;
    font-family: Forte;
    color: black;
    font-size: 34px;
    padding: 5px 5px 5px 5px;
    border-width: 0px;
    width: 30%;
}
.adm{
    top:50px;
	color: black;
	text-decoration: none;
	font: 20px arial, sans-serif;
	color: black;
	font-size: 25px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
	background-color: paleturquoise;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 50%;
    padding: 17px;
    height: 200px;
}
.nav-link{
    color: gray;
}
.nav-link:hover{
    color:black;
    }
#adbtn{
    width: 1px;
    margin: auto;

}
