body{

    background: url(testhm.jpg) ;
    background-size: 1290px 740px;
}
#title{
    color: black;
    text-shadow: 3px 3px whitesmoke;    
    font-size: 60px;
    position: static;
    background: rgba(214, 211, 211, 0.808);
    width: 400px;
    height: 200px;
    padding: 20px;
    padding-left: 40px;

}
.adm{
    background-image: url('images/abstract_art_black_and_white_red_wallpaper_1080p_hd.jpg');
    border-radius: 6px;
    font-family: Forte;
    color: black;
    font-size: 34px;
    padding: 5px 5px 5px 5px;
    border-width: 0px;
    width: 10px ;
    text-shadow: 1px 1px whitesmoke;    
}

#adm{
	color: black;
	text-decoration: none;
	font: 20px arial, sans-serif;
	color: black;
	font-size: 25px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 30px 60px;
    height: 200px;
    top: 900px;
    background-image: url("btnbg.jpg");
}
#adm:hover{
    color: darkgoldenrod;
    background-color: lightgray;
}
.nav-link{
    color: gray;
}
.nav-link:hover{
    color:black;
    }
#adbtn{
    width: 1px;
    margin: auto;

}
