<html>
    <head>     <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="static/css/add.css">
    </head>
    <body>

        <ul class="nav nav-tabs" style="background-color: white">
            <li class="nav-item" style="color:gray">
                  <a class="nav-link" href="{{url_for('home')}}"> Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{{url_for('search')}}"> Search </a>
              </li>
    </ul>
        <form method="POST">
          <input type="text" name="name"  placeholder="name"> <br>
          <input type="text" name="location" placeholder="location"> <br>
          <input type="list" name="fields" placeholder="fields" >   <br>
          <input type="text" name="logo" placeholder="link to logo pic"> <br>
          <input type="text" name="link" placeholder="link to actual web" > <br> 
          <input type="submit" value="Add">
        </form> </body>