<html>
    <head>
        <title>Academic Consistency</title>
   
        <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="static/css/home.css">

    </head>
    <body>

        <ul class="nav nav-tabs" style="background-color: white">
                <li class="nav-item" style="color:gray">
                      <a class="nav-link" href="{{url_for('home')}}"> Home</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{{url_for('search')}}"> Search </a>
                  </li>
        </ul>
        <h1 id="title">Academic <br>        Consistency</h1>
        <!--Navbar-->
        <nav class="navbar navbar-dark fb-color">
      </nav>     
      <!--Navbar End-->
      
        {% if add %}
            <div >
                <a class="adm" href="/log_out" >log out</a>
            </div>
        {% else %}
        <div id="adbtn">
            <a id="adm" href="/adminC" class="adm">admin</a>
        </div>
        {% endif %}
    </body>
</html>