<html>
    <head>
        <title>Academic Consistency</title>
        <link rel="stylesheet" type="text/css" href="static/css/home.css">
        <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css">
    </head>
    <body>
      (<img src="homebg.jpg" width="2000px" height="1000px">
        <ul class="nav nav-tabs" style="background-color: white">
                <li class="nav-item" style="color:gray">
                      <a class="nav-link" href="{{url_for('home')}}"> Home</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{{url_for('search')}}"> Search </a>
                  </li>
        </ul>
        <h1 id="title">Academic <br>        Consistency</h1>
        <!--Navbar-->
        <nav class="navbar navbar-dark fb-color">
      </nav>
      <!--Navbar End-->
      <div id="adbtn">
      <a id="adm" href="/adminC" class="admin_btn">admin</a>
      </div>
    </body>
</html>