<html>
    <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
           
            <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css">
            <link rel="stylesheet" type="text/css" href="static/css/test.css">
            <style></style>
      </head>  
      <body >
    <ul class="nav nav-tabs" style="background-color: white">
            <li class="nav-item" style="color:gray">
                  <a class="nav-link" href="{{url_for('home')}}"> Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{{url_for('search')}}"> Search </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('test')}}"> test </a>
            </li>
    </ul>
            <!--Navbar-->
            <nav class="navbar navbar-dark fb-color">
                </nav>     
                <!--Navbar End-->
    <h1 id="title">find what careers suit your skills!<br> it's better to find what you love than love what you find</h1>
    
    <p id="sen">there is 7 kinds of intellegence, and while each individual excels in one kind, <br>
    we still have a chance in other kinds as well! choose the box you relate to most.</p> 
    <div id="wrapper">
   
    <a class="box" style="float: left" onclick="document.getElementById('ll').style.display = 'block'">
    <div id="lang">
        <p class="subtitle">Linguistic</p>
           <p>do you find it easy to learn new languages? <br>
            Are you good regarding writing and reading?<br>
             do traditinal teaching methods suit you?<br>
             Are you Good at discussing and arguing? <br>
             do you prefer Literary topics as history and sociology than science and math?<br>
             do you enjoy Crossword puzzles? or do your friends Nickname you "a moving dictionary"?
            <br> do you use fancy uniqe words? if so,  your intelligence is Linguistic you can excel at Marketing and Media or as a Lawyer</p>
    </div></a>
</div>
<br><br><br><br><br>


    <a class="box"  onclick="document.getElementById('ma').style.display = 'block'">
    <div id="math">
        <p class="subtitle">Logical-Mathematical</p>
           <p>do you find it easy to imagine numbers and other data in your mind? <br>
             do you prefer science and math more than other subjects?<br>
             do you enjoy games that require deep logical-mathmatical thinking? (like sodoko)
            <br> do you ever wonder what will happen if we change data in a mathematical problem? if so, your intelligence is Logical-Mathematical you can excel at accounting, Business Administration, finance, or at stock marketing </p>
    </div></a>

    <a class="box"  onclick="document.getElementById('hh').style.display = 'block'">
    <div id="hayez">
        <p class="subtitle">Spatial</p>
           <p>do you find it easy to imagine an object after looking at it from different angels? <br>
             do you enjoy geometry more than algebra?<br>
             do you find ease in turning what you hear into pictures in your mind?
            <br> do you doodle a lot while thinking?  your intelligence is Spatial you can excel at Architectural Engineering or Design </p>
    </div></a>

    <a class="box"  onclick="document.getElementById('mu').style.display = 'block'">
    <div id="music">
        <p class="subtitle">musical</p>
           <p>do you easily notice the sounds around you? <br>
             do you like to study with music in the background?<br>
             do you play an instrument or would like to?
            <br> can you memorize songs and sounds easily? if so your intelligence is Musical you can excel at Musical careers!</p>
    </div></a>
    


    <a class="box"  onclick="document.getElementById('kk').style.display = 'block'">
    <div id="sport">
        <p class="subtitle">Bodily-kinesthetic</p>
           <p>do you practice any kind of sports constantly? <br>
             do you find it hard to stay at the same place for a long time?<br>
             do you use body language frequently?
            <br> do you like sculpting,knitting or Pottery? if so  your intelligence is Bodily-kinesthetic you can excel at athletic careers!</p>
    </div></a>


    <a class="box"  onclick="document.getElementById('so').style.display = 'block'">
    <div id="social">
        <p class="subtitle">Interpersonal</p>
           <p>do you consider yourself extroverted? <br>
             do people approach you for advice?<br>
             do you prefer team work than individual one?
            <br> do people consider you a "leader"? <br>
        if so, your intelligence is Interpersonal you can excel at psychology,education or social work</p>
    </div></a>


    
    <a class="box"  onclick="document.getElementById('ii').style.display = 'block'">
    <div id="personal">
        <p class="subtitle">Intrapersonal</p>
           <p>do you spend a long time thinking and imagining? <br>
             ever been called a Philosopher?<br>
             Are you self aware of your strengths and weaknesses?
            <br> do you have a hobby that you like to practice alone?<br> if so your intelligence is Intrapersonal! you can excel at Philosophy,Entrepreneurship, or as an Inventor! </p>
    </div></a>
    
      </head>
    </body>
</html>