<html>
    <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
           
            <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css">
            <link rel="stylesheet" type="text/css" href="static/css/test.css">
            <style></style>
      </head>  
    <ul class="nav nav-tabs" style="background-color: white">
            <li class="nav-item" style="color:gray">
                  <a class="nav-link" href="{{url_for('home')}}"> Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{{url_for('search')}}"> Search </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('test')}}"> test </a>
            </li>
    </ul>
            <!--Navbar-->
            <nav class="navbar navbar-dark fb-color">
                </nav>     
                <!--Navbar End-->
    <h1 id="title">find what careers suit your skills!<br> it's better to find what you love than love what you find</h1>
    
    <p id="sen">there is 7 kinds of intellegence, and while each individual excels in one kind, <br>
    we still have a chance in other kinds as well! choose the box you relate to most.</p> 
    <div id="wrapper">
    {% if ll %}
    <div class="animate">
        <p> your intelligence is Linguistic you can excel at Marketing and Media or as a Lawyer</p>
    </div>
    {% endif %}
    <a class="box" href="/lang">
    <div id="lang">
        <p class="subtitle">Linguistic</p>
           <p>do you find it easy to learn new languages? <br>
            Are you good regarding writing and reading?<br>
             do traditinal teaching methods suit you?<br>
             Are you Good at discussing and arguing? <br>
             do you prefer Literary topics as history and sociology than science and math?<br>
             do you enjoy Crossword puzzles? or do your friends Nickname you "a moving dictionary"?
            <br> do you use fancy uniqe words?</p>
    </div></a>
</div>
{% if mm %}
    <div id="ma" class="animate">
        <p> your intelligence is Logical-Mathematical you can excel at accounting, Business Administration, finance, or at stock marketing </p>
    </div>
    {% endif %}
    <a class="box" href="/math">
    <div id="math">
        <p class="subtitle">Logical-Mathematica</p>
           <p>do you find it easy to imagine numbers and other data in your mind? <br>
             do you prefer science and math more than other subjects?<br>
             do you enjoy games that require deep logical-mathmatical thinking? (like sodoko)
            <br> do you ever wonder what will happen if we change data in a mathematical problem?</p>
    </div></a>




    {% if hh %}
    <div id="hh" class="animate">
        <p> your intelligence is Spatial you can excel at Architectural Engineering or Design </p>
    </div>
    {% endif %}
    <a class="box" href="/hhh">
    <div id="hayez">
        <p class="subtitle">Spatial</p>
           <p>do you find it easy to imagine an object after looking at it from different angels? <br>
             do you enjoy geometry more than algebra?<br>
             do you find ease in turning what you hear into pictures in your mind?
            <br> do you doodle a lot while thinking?</p>
    </div></a>
    {% if mu %}
    <div id="mu" class="animate">
        <p> your intelligence is Musical you can excel at Musical careers! </p>
    </div>
    {% endif %}
    <a class="box" href="/mu">
    <div id="music">
        <p class="subtitle"></p>
           <p>do you easily notice the sounds around you? <br>
             do you like to study with music in the background?<br>
             do you play an instrument or would like to?
            <br> can you memorize songs and sounds easily?</p>
    </div></a>
    {% if kk %}
    <div id="kk" class="animate">
        <p> your intelligence is Bodily-kinesthetic you can excel at athletic careers!</p>
    </div>
    {% endif %}
    <a class="box" href="/kk">
    <div id="sport">
        <p class="subtitle"></p>
           <p>do you practice any kind of sports constantly? <br>
             do you find it hard to stay at the same place for a long time?<br>
             do you use body language frequently?
            <br> do you like sculpting,knitting or Pottery?</p>
    </div></a>
    {% if so %}
    <div id="so" class="animate">
        <p> your intelligence is Interpersonal you can excel at psychology,education or social work</p>
    </div>
    {% endif %}
    <a class="box" href="/so">
    <div id="social">
        <p class="subtitle"></p>
           <p>do you consider yourself extroverted? <br>
             do people approach you for advice?<br>
             do you prefer team work than individual one?
            <br> do people consider you a "leader"?</p>
    </div></a>
    {% if ii %}
    <div id="ii" class="animate">
        <p> your intelligence is Intrapersonal! you can excel at Philosophy,Entrepreneurship, or as an Inventor! </p>
    </div>
    {% endif %}
    <a class="box" href="/ii">
    <div id="personal">
        <p class="subtitle"></p>
           <p>do you spend a long time thinking and imagining? <br>
             ever been called a Philosopher?<br>
             Are you self aware of your strengths and weaknesses?
            <br> do you have a hobby that you like to practice alone?</p>
    </div></a>
      </head>
      <body>
</html>